.app-container {
  width: 100%;
  display: flex;
}

.main-column {
  padding: 150px 0 6vh;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 1rem);
}

.main-column > header,
.main-column > footer,
.main-column main > * {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  flex: none;
}
